<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>oh hi derr</title>
</head>
<body>
<div>who got dat deesh</div>

  <section id="post-box">loading...</section>

<script type="text/template" id="post-template">
    <div>
      <div><span style="font-size:smaller">at <%- createDate %>, a person purporting to be <%- username %> said </span>
          <span style="font-size:large"><%- text %></span>
      </div>
        <div>
          <br><span>name:</span><input id="nameinput" class="nameinput">
          <br><span>text:</span><input id="textinput" class="textinput">
          <br><button id="postbttn" class="dopost">post it</button>
        </div>
      </div>
</script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
  <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script> -->  
  <script type="text/javascript">
    'use strict'; 
    var app = {}; // create namespace for our app

    app.Post = Backbone.Model.extend({
      defaults:{
        username: 'anonymous',
        text: '',
        createDate: 'right now' //currentdate.getDate() + "/"
        //        + (currentdate.getMonth()+1)  + "/" 
        //        + currentdate.getFullYear() + " @ "  
        //        + currentdate.getHours() + ":"  
        //        + currentdate.getMinutes() + ":" 
        //        + currentdate.getSeconds()
      }

    });

    app.lonePost = new app.Post({
      text:'Let\'s get this party started'
    }); 

    app.SinglePostView = Backbone.View.extend({
      tagname: 'div',
      template: _.template($('#post-template').html() ),

      events: {
        'click .dopost': 'doposttext'
      },



      initialize: function() {
        this.$el = $('#post-box');
        this.model = app.lonePost;
        if(this.model) {
          this.model.on('change', this.render);
          console.log(this.model);
        }
      },

      render: function(){
        this.$el.html(this.template(this.model.attributes));

        return this;
      },

      doposttext: function(){
        this.model.text = $('textinput').text;
        this.model.username = $('nameinput').text;
        this.render();
      }

    });

    app.singlePostView = new app.SinglePostView();
    $('#post-box').append( app.singlePostView.render().el );
      
</script>





</body>
</html>
