<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>oh hi derr</title>
</head>
<body>
<div>who got dat deesh</div>

  <section id="notesapp">
    <section id="main">
      <ul id="notes-list" style="list-style: none"></ul>
      <div id="post-box"> </div>
    </section>
  </section>
  <!-- Templates -->
  <script type="text/html" id="note-template">
      <li><%- text %></li>
  </script>  

  <div id="post-box">

    <script type="text/html" id="post-box-template">
     <div><span style="font-size:smaller">at <%- createDate %>, a person purporting to be <%- username %> said </span>
        <span style="font-size:large"><%- text %></span>
      <br><label id=namelbl text="name:"/><input id="nameinput" class="shortedit">
      <br><label id=textlbl text="text:"/><input id="textinput" class="mledit">
      <br><button class="dopost">post it</button>
    </script>  
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
  <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script> -->  
  <script type="text/javascript">
    'use strict'; 
    var app = {}; // create namespace for our app
    
    //model and collection
    app.Note = Backbone.Model.extend({
    urlRoot: '/getnotes',
        url: function() {
          return this.urlRoot + '';//'?name=' + this.id;
        }
    });
    app.NoteList = Backbone.Collection.extend({
      model: app.Note
      , url: '/getnotes'
    });
    app.noteList = new app.NoteList();
    //views
    app.NoteView = Backbone.View.extend({
      tagName: 'li',
      template: _.template($('#note-template').html()),
      render: function(){
        this.$el.html(this.template(this.model.toJSON()));
        return this; // enable chained calls
      }
    });

    app.Post = Backbone.Model.extend({
      defaults:{
        username: 'anonymous',
        text: ''//,
        //createDate: currentdate.getDate() + "/"
        //        + (currentdate.getMonth()+1)  + "/" 
        //        + currentdate.getFullYear() + " @ "  
        //        + currentdate.getHours() + ":"  
        //        + currentdate.getMinutes() + ":" 
        //        + currentdate.getSeconds()
      }

    });

    app.lonePost = new app.Post({
      text:'Let\'s get this party started'
    }); 

    app.SinglePostView = Backbone.View.extend({
      tagname: 'div',
      
      //cache template for a single item...
      spvTemplate: _.template($('#post-box').html() ),

      events: {
        'click button': 'doposttext'
      },

      initialize: function() {
        this.$el = $('#lonePost');
      },

      render: function(){
        this.$el.html( this.spvTemplate(this.model.attributes) );
        this.input = this.$('');
      },

      doposttext: function(){


      }

    });
    app.singlePostView = new app.SinglePostView({model: app.lonePost});
    

    app.AppView = Backbone.View.extend({
      el: '#notesapp',
      initialize: function () {
        app.noteList.on('add', this.addAll, this);
        app.noteList.on('reset', this.addAll, this);
        app.noteList.fetch(); // Loads list from db
      },
      addOne: function(note){
        var view = new app.NoteView({model: note});
        $('#notes-list').append(view.render().el);
      },
      addAll: function(){
        this.$('#notes-list').html(''); // clean the note list
        app.noteList.each(this.addOne, this);
      }
    });   

    app.appView = new app.AppView();

  </script>





</body>
</html>
